<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joel_harsh.task_assistant"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/task_assisstant_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.joel_harsh.task_assistant.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.joel_harsh.task_assistant.CreateTask"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.CREATETASK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.joel_harsh.task_assistant.ViewTask"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEWTASK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.joel_harsh.task_assistant.ModifyTask"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MODIFYTASK" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.joel_harsh.task_assistant.ViewScore"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEWSCORE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.joel_harsh.task_assistant.DoneTasks"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.DONETASKS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.joel_harsh.task_assistant.LeftTasks"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.LEFTTASKS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.joel_harsh.task_assistant.ModifyTasks2"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MODIFYTASKS2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.joel_harsh.task_assistant.ViewScore2"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.VIEWSCORE2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.joel_harsh.task_assistant.SQLManager"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.joel_harsh.task_assistant.DisplayTaskList"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.joel_harsh.task_assistant.ChangeTaskDate"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.joel_harsh.task_assistant.ChangePriority"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.joel_harsh.task_assistant.ChangeDoneStatus"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.joel_harsh.task_assistant.DeleteTask"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.joel_harsh.task_assistant.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>